on:
  workflow_call:
    inputs:
      container-archs:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Add CRIU PPA
      run: sudo add-apt-repository ppa:criu/ppa && sudo apt update
    - name: Install podman 4 and qemu
      run: |
        sudo apt update
        sudo apt -y satisfy "podman (>= 4.0), qemu-user-static"
    - name: Build container
      uses: redhat-actions/buildah-build@v2
      with:
        image: quay.io/cryostat/cryostat-openshift-console-plugin
        tags: latest ${{ github.sha }}
        archs: ${{ inputs.container-archs }}
        containerfiles: |
          ./Dockerfile
